@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* YOUR PALETTE */
  --crimson-dark: #870903;
  --signal-red: #e90c00;
  --paper-cream: #f9dd9c;
  --forest-green: #1a4734;
  --success-green: #418b24;

  /* UI DEFAULTS */
  --bg-main: #fcfbf7; /* Slight off-white to match the cream */
}

body {
  background-color: var(--bg-main);
  color: var(--crimson-dark);
  font-family: "Courier New", Courier, monospace; /* Monospace for that "Raw Data" feel */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--paper-cream);
  border-left: 2px solid var(--crimson-dark);
}
::-webkit-scrollbar-thumb {
  background: var(--crimson-dark);
  border: 2px solid var(--paper-cream);
}
